<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    -->

    <mappers>
        <mapper resource="mybatis/mappers/Member.xml"/>
        <mapper resource="mybatis/mappers/Goods.xml"/>
        <mapper resource="mybatis/mappers/Cart.xml"/>
        <mapper resource="mybatis/mappers/Order.xml"/>
        <mapper resource="mybatis/mappers/Mypage.xml"/>
        <mapper resource="mybatis/mappers/AdminGoods.xml"/>
        <mapper resource="mybatis/mappers/AdminOrder.xml"/>
        <mapper resource="mybatis/mappers/AdminMember.xml"/>
    </mappers>

</configuration>

